{% extends "base.html" %}

{% block title %}Inicia Sesión{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-6">
	<div class="card">
	<div class="card-body">
    	<form method="POST">
        	{% csrf_token %}
        	{{ form|crispy }}
        	<button type="submit" class="btn btn-success">Ingresar</button>
        	<a href="#" class="btn btn-link">Olvidaste tu contraseña?</a>
    	</form>
    </div>
    </div>
	</div>
</div>

{% endblock content %}