{% extends 'base.html' %}

{% block title %}{{ user.username }}{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
	<div class="row justify-content-center">
	<div class="col-6">
	<div class="card">
	<div class="card-body">
    	<form method="POST">
    		{% csrf_token %}
    		{{ form|crispy }}
    		<button type="submit">Guardar cambios</button>
    	</form>
    </div>
	</div>
	</div>
	</div>
{% endblock content %}