{% extends '../base.html' %}

{% block title %}Noticias{% endblock %}

{% block content %}
<div class="text-center">
		<h1>Listado de Noticias</h1>
		<div class="row justify-content-center">
			{% for noticia in noticias %}
				<div class="col-4">
					<div class="card text-center" style="width: 18rem;">
						<img src="{{ noticia.foto.url }}" class="card-img-top" title="Foto sobre la noticia" alt="..." width="500" height="250">
						<div class="border border-primary rounded-bottom" style="background-color: #FF8F10;">
							<h4 class="card-title">{{ noticia.titulo }}</h4>
							<h5>{{ noticia.breve }}</h5>
							<a href="#" class="btn btn-primary">Ver Noticia</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
</div>
{% endblock content %}
