{% extends '../base.html' %}

{% block titulo %}{{ titulo noticia }}{% endblock titulo %}

{% block contenido %}
		<div class="card mb-3">
  			<img src="..." class="card-img-top" alt="...">
  			<div class="card-body">
    			<h3 class="card-title">{{ noticia.titulo }}</h3>
    			<h5 class="card-title" >{{ noticia.breve }}</h5>
    			<p class="card-text">{{ noticia.contenido }}}</p>
    			<p class="card-text"><small class="text-muted">{{ noticia.fecha_pub }}</small></p>
  			</div>
		</div>
{% endblock contenido %}
