{% extends 'base.html' %}

{% block title %}Reuniones{% endblock %}

{% block content %}
<div class="text-center">
		<h1>Listado de Reuniones</h1>
		<div class="row justify-content-center">
			{% for reunion in reuniones %}
				<div class="card">
  <div class="card-header">
    Reunion
  </div>
  <div class="card-body">
    <h5 class="card-title">{{ reunion.titulo }}</h5>
    <p class="card-text">{{ reunion.fecha }}</p>
    <a href="#" class="btn btn-primary">Ver Reunion</a>
  </div>
</div>
			{% endfor %}
		</div>
</div>
{% endblock content %}