{% extends "base.html" %}

{% block title %}Crea una Reunion{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
	<div class="col-6">
	<div class="card">
	<div class="card-body">
    	<form method="post" enctype="multipart/form-data">
        	{% csrf_token %}
        	{{ form|crispy }}
    	    <button type="submit" class="btn btn-success">Crear</button>
   		</form>
   	</div>
   	</div>
	</div>
</div>
{% endblock content %}